
<div class="span10">

    <h1>My Players</h1>
    <a href="{{url}}">View raw JSON data</a>
    <div ng-repeat="myPlayer in myPlayers" ng-click='goto(myPlayer.PlayerID)' class="thumbnail" style="cursor: pointer" >

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <h2>Player: {{myPlayer.CharacterName}}</h2>

                    <table>
                        <tr ng-repeat="(key,value) in myPlayer">
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        </tr>
                    </table>
                </div>
                <div class="span6">
                    
                </div>
            </div>
        </div>
    </div>
</div>